* {
    margin: 0;
    padding: 0;
}

body {
    font-size: .8em;
}

button {
    padding: .4em;
    border-radius: 11px;
}

#array-diplay {
    text-align: center;
    background-color: palegreen;
    padding: 0 0 2em 0;
    margin-bottom: -2.5em;
}

#array-diplay > div > h2{
    padding: 1em 0 .4em 0;
}

form {
    background-color: tomato;
    padding: 2em 0;
    text-align: center;
}

#outputs {
    margin: .3em;
}

div#outputs {
    display: flex;
    justify-content: space-around;
}

#outputs h1, #outputs h3 {
    padding-top: 2em;

}

#outputs > span{
    display: inline-block;
}

span#songOutputs, span#artistOutputs, span#albumOutputs {
    width: 30%;
}